.infoBookingRoom {
  position: relative;
}

.rdrDateRangePickerWrapper {
  position: absolute;
  top: 100px;
  left: 22%;
}

/* STYLE FLEX-COLUMN FOR CALENDAR */
/* .rdrDateDisplay,
.rdrMonthAndYearPickers {
  display: none;
}

.rdrMonths {
  display: flex;
  flex-direction: column;
} */
